@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

html,
body {
  font-family: "IBM Plex Sans";
}

@layer components {
  .font-outfit {
    font-family: "Outfit", sans-serif;
  }
}

@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.move-avatar {
  overflow: hidden;
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
}

/* Toast Notification styling */
.Toastify__toast--success {
  border-radius: 8px !important;
  background-color: #bbf7d0 !important;
  border: 1px solid #16a34a !important;
}
.Toastify__toast--error {
  border-radius: 8px !important;
  background-color: #f7bbbb !important;
  border: 1px solid #bd5254 !important;
}
.Toastify__toast--info {
  border-radius: 8px !important;
  background-color: #bbd2f7 !important;
  border: 1px solid #164aa3 !important;
}
.Toastify__toast--warning {
  border-radius: 8px !important;
  background-color: #f3f7bb !important;
  border: 1px solid #a1a316 !important;
}
.Toastify__toast--success .Toastify__toast-body {
  color: #16a34a !important;
}
.Toastify__toast--error .Toastify__toast-body {
  color: #bd5254 !important;
}
.Toastify__toast--info .Toastify__toast-body {
  color: #164aa3 !important;
}
.Toastify__toast--warning .Toastify__toast-body {
  color: #a1a316 !important;
}
.Toastify__toast--success .Toastify__toast-icon svg {
  fill: #16a34a !important;
}
.Toastify__toast--error .Toastify__toast-icon svg {
  fill: #bd5254 !important;
}
.Toastify__toast--info .Toastify__toast-icon svg {
  fill: #164aa3 !important;
}
.Toastify__toast--warning .Toastify__toast-icon svg {
  fill: #a1a316 !important;
}
/* .Toastify__progress-bar--info {
  background: #00dac5 !important;
}
.Toastify__progress-bar--success {
  background: #2cc63b !important;
}
.Toastify__progress-bar--warning {
  background: #fbbf24 !important;
}
.Toastify__progress-bar--error {
  background: #cf6679 !important;
} */
