.vscode

dist/
.venv/
.pureml
poetry.lock
catboost_info/
experiments/
.env

packages/purebackend/db/*.db
packages/purebackend/pureml_data
packages/purebackend/purebackend.exe
packages/purebackend/vendor

__pycache__/
*.pyc

.vscode/
